@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-invisible::-webkit-scrollbar {
        display: none;
    }
    .scroll-invisible {
        -ms-overflow-style: none;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
    }
}

@layer components {
    .star-rating:hover svg,
    .star-rating:hover ~ .star-rating svg {
        @apply !fill-[#ABABAB] !text-[#ABABAB]
    }
}
